body
  background-image: url('../../static/watercolor.jpg')
  background-attachment: fixed
  background-position: center
  background-size: auto
  background-repeat: no-repeat
  background-clip: border-box
  text-align: center
  color: white
  padding: 0 3em
